---
layout: default
---
<article id="main">

  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
